<div id="<%= dom_id form %>" class="bg-white shadow-md rounded-md p-4">

  <p class="mb-2">
    <strong class="font-bold">Name:</strong>
    <%= form.name %>
  </p>

  <p class="mb-2">
    <strong class="font-bold">Description:</strong>
    <%= form.description %>
  </p>

  <p>
    <strong class="font-bold">Processed in job:</strong>
    <%= form.processed_in_job %>
  </p>

</div>